﻿@using SSupplyAssignment.BO.Web.Models
@model OrderViewModel

@{
    ViewData["Title"] = "Edit Order Page";

    var services = new[]
    {
        new ServiceViewModel { Id = 1, Name = "Alteration" },
        new ServiceViewModel { Id = 2, Name = "Repair" },
    };

    var customers = new[]
    {
        new CustomerViewModel { Id = 1, Name = "Customer1" },
        new CustomerViewModel { Id = 2, Name = "Customer2" },
    };

    var serviceName = services.FirstOrDefault(x => x.Id == Model.ServiceId)?.Name ?? string.Empty;
    var customerName = customers.FirstOrDefault(x => x.Id == Model.CustomerId)?.Name ?? string.Empty;
}

<p>
    @Html.ActionLink("Pay For Order", "Pay", new { Id = Model.Id })
</p>

@using (Html.BeginForm("EditOrder", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => customerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => customerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusTypeCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StatusTypeCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StatusTypeCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => serviceName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => serviceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceAttributes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceAttributes, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ServiceAttributes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}